@import url("https://fonts.googleapis.com/css?family=Numans");
.div__Index {
  background-color: black;
  /*background-image: url(../imagenes/pexels-jonathan-borba-2983101.jpg);*/
  height: 34rem;
  width: 100%;
}

.divVertical__Index {
  width: 50%;
  height: 34rem;
}

.img__Index {
  width: 100%;
  height: 100%;
}

.imgVertical__Index {
  height: 25%;
  width: 50%;
}

.a__pedido {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background-color: #edb026;
  padding: 10px 40px;
}

.imagen__body {
  background-image: url("../imagenes/foodtruck_body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.titulo__index {
  color: #e76f51;
}

.imagenUno__index {
  vertical-align: middle;
  border-style: none;
  border: 0;
}

.row {
  --bs-gutter-x: 0rem;
}

.footerIconos {
  color: #AC292F;
}

.footerLogo {
  background-color: red;
  height: 15rem;
  width: 20rem;
}

.imgLogoFooter {
  height: 15rem;
  width: 20rem;
}

.footer {
  background-color: #E5B704;
}

.footer div ul li {
  color: red;
  list-style: none;
  text-decoration: none;
}

.iconos {
  color: #AC292F;
  font-size: 3rem;
}

.footerLogo a:link {
  text-decoration: none;
}

.footer a:visited {
  text-decoration: none;
}

.marginRedes {
  margin-right: 5rem;
}

.imagenUno__index {
  width: 100%;
}

.section2 {
  background-color: black;
}

.imagen__bigpons {
  height: 10rem;
  width: 20rem;
}

.imgCarrito {
  width: 100%;
  height: 11.5rem;
}

html, body {
  font-family: 'Numans', sans-serif;
}

.container {
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: #AC292F;
  cursor: pointer;
}

.card-header h3 {
  color: #AC292F;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0  !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

.remember {
  color: #AC292F;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: #AC292F;
}

.links {
  color: #AC292F;
}

.links a {
  margin-left: 4px;
}

.c-secundario {
  color: #AC292F;
}

#takeaway-home {
  position: relative;
  margin-top: 1rem;
  height: 1rem;
  width: 30%;
}

#takeaway-home h4 {
  color: #edb026;
  font-family: "Barlow Condensed";
  font-size: 2rem;
  font-weight: 700;
}

#p_index {
  margin-top: 1.5rem;
  font-family: "Barlow Condensed";
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

#divLogo {
  background-image: url(../imagenes/imagenesPuestico/logoPuesticoBurger.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 33rem;
  margin-top: 1rem;
  width: 30rem;
}

#h1Carrito {
  color: #E7B504;
  margin-top: 1.5rem;
  border-style: groove;
  border-color: #AE2733;
  border-radius: 1rem;
  padding: 1rem;
}

#card-footer {
  color: #AE2733;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h4 {
  height: 100%;
  width: 100%;
}

a:link, a:visited, a:active {
  text-decoration: none;
}
/*# sourceMappingURL=disenio.css.map */